

  .bdy{
    margin-left: 120pt;
    padding-left: 50pt;
    background-color:rgb(255, 255, 255);
    border-style:solid;
    border-color: rgba(76, 175, 80,1 );
    border-width: 5px;
    border-radius: 10px;;
  }
  .row{
    align-items: stretch;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
  }