html,body,.container-fluid {
  height:100%;
}
.title-page{
  text-align: left;
  padding-left: 10% ;
  margin: 0%;
  height: 80px;
  color: #4CAF50;
}

.container-fluid {
  display:table;
  width: 100%; /*set left/right padding according to needs*/
  box-sizing: border-box;
}

.row {
  height: 100%;
  width: 100%;
}

.row .no-float {
  padding: 0%;
display: table-cell;
float: none;
}
.ord-window{
  background-color: whitesmoke;
  border-style: solid;
  border-radius: 1%;
  border-width: 9px;
  border-color: rgb(222, 222, 222);
  height: 100%;
  margin-left: 10%;
  
}
.side{
  width:100%;
  margin-left: 0%;
  background-color: #4CAF50;}
.ord-page{height: 100%;}