sidenav {
    height: 100%; /* 100% Full-height */
    width: 120pt; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: -1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 150px; /* Place content 60px from the top */
    /* 0.5 second transition effect to slide in the sidenav */

    background-color: rgb(96, 219, 71);  
}
